body{
    background-color: rgb(46, 45, 45);
}

.menu{
    
    border: 1px solid rgb(255, 255, 255); 
    width: 25%; 
    background-color: rgb(150, 87, 5);
    padding-bottom: 10%;
    color: white;
    float: left;
}

.div-form{
    float: right;
}

h2{
    padding-left: 30px;
}

h2:hover{
    cursor: pointer;
    
}

.logo{
    height: 150px;
    width: 150px;
    padding-left: 80px;
    padding-top: 20px;
    
}

a{
    text-decoration: none;
    color: white;

}

.active{
    
    background-color: rgb(211, 122, 7);
    padding: 10px;
}

h1{
    color: white;
    
}

.main-div{
    margin-left: -20%;
    margin-right: 20px;
    margin-top: -40%;
    float: right;

}

.mini-div{
    margin-left: 30%;
    margin-right: 20px;
    margin-top: -30%;
    float: right;

}

p{
    color: rgb(211, 122, 7);
    font-size: 25px;
}

.h2cont{
    color: white;
}

.maingal-div{
    margin-left: 30%;
    margin-right: 20px;
    margin-top: -45%;
    float: right;
}

.column {
    float: left;
    width: 33.33%;
    padding-top: 25px;
    padding-bottom: fixed;
}

.column3{
    padding-bottom: 100px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.momoimg{
    height: 25%;
    width: 50%;
    border: 1px solid white;
      

}
.momoimg:hover{
    box-shadow: 0px 10px 5px orangered;
}

.mainabt-div{
    margin-left: 30%;
    margin-right: 20px;
    margin-top: -45%;
    float: right;
}

video{
    width: 320px;
    height: 240px;
    border-radius: 10px;
}

p{
    color: orangered;
}

#subm :hover{
background-color:white;
}

#subm{
    background-color: orangered;
    height: 40px;
    width: 100px;
    border-radius: 20%;
    margin-left: 30%;
}

input{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.div-form p{
    font-size: 25px;
}

#rad-fem{
    box-sizing: 10px;
}

h1{
    color: white;
   
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input_det{
    height: 25px;
    width: 150%;
}

.div-form{
    padding-top: 100px;
    margin-right: 30%;
}

#p-rad{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-right: 50px;
    margin-left: -45%;
}

.my-form{
    margin-left: -80%;
}

